# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
doc_build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

Scripting Documentation
Scripting Documentation-tf
Scripting Documentation.zip

doc_build.zip
doc_build_fun/
doc_build_fun.zip

__MACOSX/

docs/App Store/*/guide/
docs/TestFlight/*/guide/