# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
doc_build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

doc_build/
doc_build_fun/
doc_build_fun.zip

Scripting Documentation/

docs/TestFlight/*/guide/
docs/App Store/*/guide/
